#main1{
    font-size: 25px;
}
.cont{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#heading{
    font-size: 25px;
}
.cont2{
    font-size: 20px;
}
h1{
    font-size: 25px;
    margin: 0%;
    padding: 0%;
}
h2{
    font-size: 25px;
    margin: 0%;
    padding: 0%;
}